<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<%= render 'header' %>

<div class="pretty-line"></div>

<div class="landing-graphics">
  <div class="graff-holder first">
    <%= render :partial => 'graff_image', :locals =>{:index => 0} %>
  </div>
  <div class="center-box"><%= render 'arrow' %></div>
  <div class="graff-holder">
    <%= render :partial => 'graff_image', :locals =>{:index => 1} %>
  </div>
</div>

<div class="pretty-line"></div>

<%= render 'map' %>
<%= render 'footer' %>



