<!DOCTYPE html>
<html>
  <head>
    <title>Leche Asada</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/scripts' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>

    <div id="title"><h1>Leche Asada</h1></div>

    <div class="pretty-line"></div>

    <%= yield %>
  </body>
</html>
